.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: grey;
}

.email-details-container {
  display: flex;
  width: 50%;
  height: 10vh;
  justify-content: space-between;
  align-items: flex-end;
}